body {
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(231, 156, 178);
    font-family: "century gothic";
}
#menu {
    margin: 30px auto;
    position: relative;
    left: 0;
    width: 40%;  
}
#menu ul {
    width: 10%;
    height: 300px;
    background-color: rgb(243, 203, 234);
    margin-top: 200px;
    text-align: center;
    padding: 0px;
    display: inline;
  }
  #menu a {
    color: rgb(246, 136, 221);
  }
  #menu li {
    padding: 15px 30px;
    display: inline;
  }
  #menu li:hover {
    background-color: rgb(226, 159, 243);
    border-left: 5px rgb(187, 57, 220) solid;
  }
  #menu li a {
    font-size: 1.2em;
  }
  #menu .currentPage {
    background-color: #FEDCD2;
    border-left: 5px rgb(255, 152, 255) solid;
  }
#AlbertoEye {
    background-color: rgb(179, 120, 202);
    padding: 50px;
    width: 750px;
    margin-bottom: 50px;
    margin: auto;
}
p {
    background-color: rgb(204, 127, 235);
    font-family: "Century Gothic";
    font-size: 1.2em;
    color: white;
    width: 350px;
    padding: 30px;
    float: right;
}
#AlbertoEye img {
    width: 250px;
    padding: 15px 15px 50px 15px;
    background-color: rgb(154, 106, 173);
}